<div class="row">
    <div class="col-md-12 text-left">
        <input type="file" (change)="fileHandle($event)">
        <input type="text" [(ngModel)]="id">
        <button mat-raised-button class="btn-primary ml-2" [disabled]="!(id && file)" (click)="loadFile()">Load</button>
    </div>
    <div class="col-md-12 mt-2">
        <app-docview class="view-container" [url]="url" [user]="{domainId: name.split(' ').join('.'), name: name}"
            [comments]="comments" (newComment)="save($event)" (deleteComments)="delete()"
            (deleteSingle)="delete($event)">
        </app-docview>
    </div>
</div>
<!-- <div #pdfcontainer (window:resize)="renderPdf()" style="height: 80vh">
    <canvas #pdfcanvas></canvas>
</div> -->