<mat-toolbar>{{mode==='view'?'View':'Add'}} Comment</mat-toolbar>
<div class="row">
    <ng-container *ngIf="comments && comments.length > 0">
        <div class="col-md-12 mt-4 comment-class" *ngFor="let comment of comments"
            [ngClass]="{'our-comment': this.user === comment.user, 'their-comment': this.user !== comment.user}">
            {{comment.comment}}
        </div>
    </ng-container>
    <div class="col-md-12 mt-4" *ngIf="mode==='add'">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Comment</mat-label>
            <textarea matInput [(ngModel)]="commentStr"></textarea>
        </mat-form-field>
    </div>
    <div class="col-md-12 mt-4" *ngIf="mode==='add'">
        <button mat-button (click)="save()">Save</button>
        <button mat-button (click)="cancel()">Cancel</button>
    </div>
</div>