<!-- <mat-toolbar>{{mode==='view'?'View':'Add'}} Comment</mat-toolbar> -->
<div class="row">
    <ng-container *ngIf="mode === 'view'">
        <div class="col-md-12 comment-class">
            <div class="comment-class">
                <span class="comment-header">{{comment?.user[nameKey]}} <mat-icon class="delete-comment"
                        (click)="deleteSingle(comment)">
                        delete</mat-icon></span>
                <span class="comment-content">{{comment?.comment}}</span>
                <span class="comment-footer">{{comment?.time | dateAgo}}</span>
            </div>
        </div>
    </ng-container>
    <div class="col-md-12 mt-4" *ngIf="mode==='add'">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{mode==='add'?'Comment':'Reply'}}</mat-label>
            <input type="text" matInput [(ngModel)]="commentStr" />
        </mat-form-field>
    </div>
    <div class="col-md-12 mt-4" *ngIf="mode==='add'">
        <button mat-raised-button class="btn-info mr-1" (click)="save()">Save</button>
        <button mat-raised-button class="btn-danger" (click)="cancel()">Cancel</button>
    </div>
</div>