<div class="top-bar text-left">
    <div class="top-bar-icons" [ngClass]="{'button-on':commentMode}" matTooltip="Add Comment"
        (click)="toggleCommentMode()">
        <mat-icon class="mat-icon">add_comment</mat-icon>
    </div>
    <!-- <div class="top-bar-icons" [ngClass]="{'button-on':commentShow}" (click)="toggleShowComments()">
        <mat-icon class="mat-icon">comment</mat-icon>
    </div> -->
    <div class="top-bar-icons" [ngClass]="{'disabled': page === 1 || commentMode}" matTooltip="Previous Page"
        (click)="prevPage()">
        <mat-icon class="mat-icon">keyboard_arrow_left</mat-icon>
    </div>
    <div class="top-bar-icons" [ngClass]="{'disabled': page === noOfPages || commentMode}" matTooltip="Next Page"
        (click)="nextPage()">
        <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
    </div>
    <div class="top-bar-icons" [ngClass]="{'disabled': commentMode}" matTooltip="Delete all Comments"
        (click)="deleteAll()">
        <mat-icon class="mat-icon">delete</mat-icon>
    </div>
    <div class="top-bar-icons">
        <p>Page {{page}} of {{noOfPages}}</p>
    </div>
</div>
<div class="layers-container">
    <!-- <div class="img-layer" #containerLayer>
    </div> -->
    <div class="loader-layer" [ngClass]="{'loading': loading}">
        <div class="loader">Loading...</div>
    </div>
    <div class="canvas-layer" #containerLayer>
        <div #pdfcontainer class="canvas-container" (window:resize)="renderPdf()" style="height: inherit">
            <canvas #pdfcanvas></canvas>
        </div>
    </div>
    <div class="comment-layer" #commentLayer [hidden]="loading">
        <ng-container *ngFor="let comment of comments">
            <div *ngIf="comment.page === page" class="comment-container" [style.top]="comment.y"
                [style.left]="comment.x" [style.width]="comment.width" [style.height]="comment.height"
                [style.background]="highlightColor" (click)="viewComment(comment.comment)">
            </div>
        </ng-container>
    </div>
    <div class="event-layer" [ngClass]="{'selector-pointer':commentMode}" #eventLayer>

    </div>
</div>