.layers-container {
  height: inherit;
  width: inherit;
  position: relative;
  background-attachment: fixed;
  border: 1px solid #d2c7c7;
  overflow-y: scroll;
  // top: 32px;
  margin-bottom: 32px;
  .img-layer,
  .comment-layer,
  .event-layer,
  .canvas-layer,
  .loader-layer {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .event-layer {
    z-index: 3;
  }
  .img-layer {
    z-index: 2;
    background-image: url("/assets/sample-2.jpg");
    background-size: cover;
  }
}
.top-bar {
  width: inherit;
  height: 32px;
  border: 1px solid #d2c7c7;
  border-bottom: none;
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  p {
    display: inline;
    padding: 5px 5px !important;
    position: absolute;
    right: 0;
  }
}
.top-bar-icons {
  display: inline;
  color: rgb(70, 69, 69);
  .mat-icon {
    color: rgb(70, 69, 69);
    padding: 0 5px;
    padding-right: 7px;
    padding-top: 3px;
    height: 32px;
    width: 35px;
    &:hover {
      color: rgb(49, 49, 49);
    }
  }
  &.disabled {
    pointer-events: none;
    .mat-icon {
      color: grey;
      cursor: default;
    }
  }
  &:hover {
    color: grey;
    cursor: pointer;
  }
  &.button-on {
    .mat-icon {
      color: black;
      background: rgb(212, 210, 210);
    }
  }
}

.event-layer {
  pointer-events: none;
  z-index: 0;
}
.selector-pointer {
  cursor: crosshair;
  pointer-events: unset !important;
}
.comment-container,
.user-container {
  position: absolute;
}
.user-container {
  user-select: none;
  .comment-icon {
    color: #c59148a6;
    &:hover {
      color: #c59148;
    }
  }
}

.loader-layer {
  background-color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out 0s;
  &.loading {
    opacity: 1;
  }
  .loader {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: auto;
  }
}
.filter {
  filter: saturate(4);
}
