<div class="top-bar text-left">
    <div class="top-bar-icons" [ngClass]="{'button-on':commentMode}" (click)="toggleCommentMode()">
        <mat-icon class="mat-icon">add_comment</mat-icon>
    </div>
    <div class="top-bar-icons" [ngClass]="{'button-on':commentShow}" (click)="toggleShowComments()">
        <mat-icon class="mat-icon">comment</mat-icon>
    </div>
    <div class="top-bar-icons" [ngClass]="{'disabled': firstPage}" (click)="prevPage()">
        <mat-icon class="mat-icon">keyboard_arrow_left</mat-icon>
    </div>
    <div class="top-bar-icons" [ngClass]="{'disabled': lastPage}" (click)="nextPage()">
        <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
    </div>
</div>
<div class="layers-container">
    <div class="img-layer" #containerLayer>
    </div>
    <div class="comment-layer" #commentLayer>
        <div *ngFor="let comment of comments" class="comment-container" [style.top]="comment.y" [style.left]="comment.x"
            [style.width]="comment.width" [style.height]="comment.height" [style.background]="highlightColor"
            (click)="viewComment(comment.comment)">
        </div>
    </div>
    <div class="event-layer" [ngClass]="{'selector-pointer':commentMode}" #eventLayer>

    </div>
</div>